dbt-core
dbt-postgres
dbt-bigquery

apache-airflow
apache-airflow-providers-openlineage

protobuf

psycopg2-binary

python-dotenv

faker
duckdb

pytest
pytest-mock

black
flake8
isort

numpy
pandas
matplotlib

gspread
gspread-dataframe
oauth2client

sqlparse

apache-beam[gcp]
redis
requests
